*{
  padding: 0;
  margin: 0;
  color: black;
}

html {
  font-family: 'Teachers';
}


/* HEADER STYLES */

.container {
  display: block;
  position: fixed;
  width: 80vw;
  text-align: center;
  outline: 2px solid black;
  background-color: magenta;
  /* background-color: white; */
}

/* top bar with name */
.container .navbar {
  display: inline-block;
  padding: 1em;
}

/* top bar title */
.container .navbar h1 {
  text-transform: uppercase;
  font-size: 4em;
  color: white;
}

/* div - side bar menu with links */
.container .menu-box {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20vw;
  height: 100vh;
  background-color: yellow;
  outline: 2px solid black;
  /* align-items: center; */
}

/* menu icon on top of side bar */
.menu-box .menu-icon {
  width: 5vw;
  height: 5vw;
  padding: 1em 7.5vw;
}

/* links div in side menu */
.menu-box nav {
  padding-top: 1em;
}

/* list items in side menu */
.menu-box nav ul li {
  list-style: none;
  margin: 1em 2em;
  text-align: center;
}

/* links in side menu */
.menu-box nav ul li a {
  text-decoration: none;
  color: black;
  display: block;
  /* margin: 2em; */
  padding: .5em;
}

 /* makes current page have an outline box */
.current {
  border: 1px solid black;
}


/* MAIN STYLES */

/* main part - specific page content */
main {
  padding-top: 7em;
  padding-bottom: 7em;
  width: 80vw;
  height: 100%;
  /* background-color: antiquewhite; */
}

#main-about {
  /* background-color: rgb(0, 255, 0); */
}

/* headshot image div style */
.img-mari {
  text-align: center;
  padding: 5em;
}

/* headshot img style */
.img-mari img {
  display: inline-block;
  width: 30em;
  height: 30em;
  object-fit: cover;
  text-align: center;
  border: .5em outset rgb(255, 255, 255);
}

/* intro text div style */
.text-intro {
  display: inline-block;
  width: 80vw;
}

/* intro text style */
.text-intro p {
  text-align: center;
  max-width: 20em;
  margin: 0 auto;
}

/* quote italic style */
.quote {
  font-style: italic;
}

/* about general section style */
.sec-about {
  width: 80vw;
  text-align: left;
  padding-right: 30vw;
}

/* img div style */
.img-about {
  display: inline-block;
  /* width: 50%; */
  padding: 3em 0 0 3em;
}

/* img style for about and portfolio pgs */
.img-about img {
  display: inline-block;
  width: 20em;
  height: 20em;
  object-fit: cover;
  text-align: center;
  border: .5em outset rgb(255, 255, 255);
}

/* text div style */
.text-body {
  display: inline-block;
  vertical-align: top;
  padding: 3em;
  max-width: 20em;
}

/* header style for main text */
.text-body h2 {
  text-transform: uppercase;
  padding-bottom: 1em;
}

/* FOOTER STYLES */
footer {
  position: fixed;
  /* background-color: white; */
  /* background-color: cyan; */
  /* background-color: rgb(0, 255, 0); */
  background-color: black;
  bottom: 0px;
  left: 0px;
  outline: 2px solid black;
  width: 100vw;
  height: 3em;
  text-align: center;
}

/* aligning bottom icons to center of title and img */
footer .footer-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  /* outline: 1px solid black; */
  width: 80vw;
  height: 3em;
}

footer .footer-container div {
  display: inline;
}

footer .footer-container a img {
  display: inline-block;
  height: 2em;
  width: 2em;
  margin: 1vh;
  outline: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  text-decoration: none;
}

/* wanted to make this logo with roughly same border thickness as other */
#oma-logo {
  height: 1.9em;
  width: 1.9em;
  outline: 0.2em solid rgb(255, 255, 255);
  border-radius: 100%;
}
